<div class="drinks-list animated  fadeIn">

    <div class="drinks-list__wrap">

        <header class="drinks-list__header">
            <h2 class="drinks-list__head">Наши лучшие напитки</h2>
        </header>

        <div class="drinks-list__line drinks-list__line--margin"></div>

        <div class="drinks-list__meals">

            <div class="drinks-list__buttons">
                <button class="drinks-list__button" ng-class="{ active_button: !drinksList.onlySoftDrinks }" ng-click="drinksList.onlySoftDrinks = false">Все</button>
                <button class="drinks-list__button" ng-class="{ active_button: drinksList.onlySoftDrinks }" ng-click="drinksList.onlySoftDrinks = true">Только без алкогольные</button>
            </div>

            <div class="drinks-list__meal-wrap animated fadeIn" ng-if="!drinksList.onlySoftDrinks">
                <div class="drinks-list__meal" ng-repeat="drink in drinksList.getDrinksForView()">
                <a class="drinks-list__link"
                   ui-sref="app.meal({ path : 'drinks' })"
                   ng-click="drinksList.openDrink(drink)">
                    <div class="drinks-list__image">
                        <img class="drinks-list__picture" ng-src="{{ drink.image }}" alt="drink">
                    </div>
                    <p class="drinks-list__price">
                        {{ drinksList.currency + drink.price }}
                    </p>
                    <div class="drinks-list__line"></div>
                    <p class="drinks-list__name">
                        {{ drink.name }}
                    </p>
                </a>
            </div>
            </div>

            <div class="drinks-list__meal-wrap animated fadeIn" ng-if="drinksList.onlySoftDrinks">
                <div class="drinks-list__meal" ng-repeat="drink in drinksList.getDrinksForView()">
                <a class="drinks-list__link"
                   ui-sref="app.meal({ path : 'drinks' })"
                   ng-click="drinksList.openDrink(drink)">
                    <div class="drinks-list__image">
                        <img class="drinks-list__picture" ng-src="{{ drink.image }}" alt="drink">
                    </div>
                    <p class="drinks-list__price">
                        {{ drinksList.currency + drink.price }}
                    </p>
                    <div class="drinks-list__line"></div>
                    <p class="drinks-list__name">
                        {{ drink.name }}
                    </p>
                </a>
            </div>
            </div>

        </div>

    </div>

</div>