&__square {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	top: 230px;

	background-color: $text-color;

	@media only screen and (max-width: 900px) {
		& {
			display: block;
		margin-left: -115px;

			order: 2;
		}
	}
}