<div class="meal-page" ng-cloak>
    <div class="meal-page__wrap">
       <div class="meal-page__picture">
          <img class="meal-page__image" ng-src="{{currentMeal.image}}" alt="meal">
      </div>
      <div class="meal-page__description">
          <p class="meal-page__price">
             {{currency+currentMeal.price}}
         </p>
         <p class="meal-page__name">
             {{currentMeal.name}}
         </p>
         <p class="meal-page__comment">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, placeat! At quisquam quam pariatur culpa non deserunt id perferendis corporis, laborum ut omnis beatae suscipit, dolores cum molestias quaerat labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, placeat! Laboriosam impedit tenetur, iusto deserunt sint qui possimus inventore perspiciatis voluptatibus incidunt, fugit in. Quisquam fugit dolorum quibusdam, iste quis.
         </p>
         <div class="meal-page__count">
            <ul class="meal-page__list">
                <li class="meal-page__item"
                    ng-class="{active : activeNum(1)}" ng-click="selectNum(1)">1</li>
                <li class="meal-page__item"
                    ng-class="{active : activeNum(2)}" ng-click="selectNum(2)">2</li>
                <li class="meal-page__item"
                    ng-class="{active : activeNum(3)}" ng-click="selectNum(3)">3</li>
                <li class="meal-page__item"
                    ng-class="{active : activeNum(4)}" ng-click="selectNum(4)">4</li>
                <li class="meal-page__item"
                    ng-class="{active : activeNum(5)}" ng-click="selectNum(5)">5</li>
            </ul>
        </div>
        <div class="meal-page__buttons">
            <div class="meal-page__left">
                <button class="meal-page__button" ng-click="cencel()" ng-show="mealStatus === 'new'">Cencel</button>
                <button class="meal-page__button" ng-click="removeMeal()" ng-show="mealStatus === 'edit'">Remove</button>
            </div>
            <div class="meal-page__right">
                <button class="meal-page__button" ng-click="addMeal()" ng-show="mealStatus === 'new'">+Add to Cart</button>
                <button class="meal-page__button" ng-click="saveMeal()" ng-show="mealStatus === 'edit'">Save</button>
            </div>
        </div>
    </div>
    </div>
</div>