.header {
	width: 100%;
	height: auto;
	padding-bottom: 135px;

	background-image: url("../img/header-bg.jpg");
	background-size: cover;

	@media only screen and (max-width: 400px) {
 		& {
 			padding-bottom: 40px;
 		}
 	}

 	@import "elements/_container";
 	@import "elements/_caption";
 	@import "elements/_text";
}