&__link--button {
	display: inline-block;
	width: 100px;
	margin-top: 30px;
	padding: 10px;

	background-color: #eee;
	color: #000;

	border: 2px solid transparent;

	transition: 0.5s;

	&:hover {
		border: 2px solid #000;
	}
}