<div class="main-content__wrap" ng-cloak>

	<header class="main-content__header">
        <h2 class="main-content__head">Наши лучшие блюда</h2>
    </header>

	<div class="main-content__line main-content__line--margin"></div>

	<div class="main-content__meals">

		<div class="main-content__meal" ng-repeat="meal in mealsList.products">
				<a class="main-content__link" ui-sref="app.meal" ng-click="mealsList.openMeal(meal)">
					<div class="main-content__image">
						<img class="main-content__picture" ng-src="{{ meal.image }}" alt="meal">
					</div>
					<p class="main-content__price">
						{{ mealsList.currency + meal.price }}
					</p>
					<div class="main-content__line"></div>
					<p class="main-content__name">
						{{ meal.name }}
					</p>
				</a>
		</div>

	</div>

</div>
