<div class="meals-list__wrap">

	<header class="meals-list__header">
        <h2 class="meals-list__head">Наши лучшие блюда</h2>
    </header>

	<div class="meals-list__line meals-list__line--margin"></div>

	<div class="meals-list__meals">

		<div class="meals-list__meal" ng-repeat="meal in mealsList.products">
				<a class="meals-list__link" ui-sref="app.meal({ path : 'meals' })"
				   ng-click="mealsList.openMeal(meal)">
					<div class="meals-list__image">
						<img class="meals-list__picture" ng-src="{{ meal.image }}" alt="meal">
					</div>
					<p class="meals-list__price">
						{{ mealsList.currency + meal.price }}
					</p>
					<div class="meals-list__line"></div>
					<p class="meals-list__name">
						{{ meal.name }}
					</p>
				</a>
		</div>

	</div>

</div>
