.cart {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 40px;

	font-size: 18px;

	@import "elements/_header";
	@import "elements/_head";
	@import "elements/_button";
	@import "elements/_empty";
	@import "elements/_element";
	@import "elements/_list";
	@import "elements/_meal";
	@import "elements/_price";
	@import "elements/_icon";
	@import "elements/_text";
	@import "elements/_checkout";
}