<div class="modifiers" ng-if="mod.modifiers" ng-cloak>
    <div class="modifiers__item" ng-repeat="modifier in mod.modifiers">
    	<div class="modifiers__wrap">
	        <span class="modifiers__name">
	            {{ modifier.name }}
	        </span>
	        <span class="modifiers__price">
	            {{ mod.currency + modifier.price }}
	        </span>
        </div>
        <input class="modifiers__select" ng-click="mod.selectModifier(modifier)"
			   ng-model="modifier.check" type="checkbox">
    </div>
</div>