<div class="meal-page">

    <div class="meal-page__wrap">
        <div class="meal-page__cart">
            <span class="meal-page__count">{{ meal.cartCount }}</span>
            <span class="meal-page__text" ng-if="meal.cartCount === 1">блюдо</span>
            <span class="meal-page__text" ng-if="meal.cartCount > 1">блюда</span>
            <a class="meal-page__button" ui-sref="cart">Корзина</a>
            <svg class="meal-page__icon" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <path class="meal-page__path" d="M496 0h-80c-7.7 0-14.3 5.5-15.7 13.1L391 64H16c-5.3 0-10.3 2.7-13.3 7.1s-3.5 10.1-1.5 15l80 192C83.7 284.1 89.5 288 96 288h254.3l-11.6 64H128c-8.8 0-16 7.2-16 16s7.2 16 16 16h224c7.7 0 14.3-5.5 15.8-13.1L429.3 32H496c8.8 0 16-7.2 16-16S504.8 0 496 0zM385.2 96l-11.6 64H288V96H385.2zM256 96v64h-64V96H256zM160 96v64H66.7L40 96H160zM106.7 256L80 192h80v64H106.7zM192 256v-64h64v64H192zM288 256v-64h79.8l-11.7 64H288z"/>
                <path class="meal-page__path" d="M176 416c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48S202.5 416 176 416z"/>
                <path class="meal-page__path" d="M304 416c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48S330.5 416 304 416z"/>
            </svg>
        </div>

       <div class="meal-page__picture">
          <img class="meal-page__image" ng-src="{{ meal.currentMeal.image }}" alt="meal">
      </div>

       <div class="meal-page__description">
          <p class="meal-page__price">
             {{ meal.currency + meal.currentMeal.price }}
         </p>
         <p class="meal-page__name">
             {{ meal.currentMeal.name }}
         </p>
         <p class="meal-page__comment">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, placeat! At quisquam quam pariatur culpa non deserunt id perferendis corporis, laborum ut omnis beatae suscipit, dolores cum molestias quaerat labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, placeat! Laboriosam impedit tenetur, iusto deserunt sint qui possimus inventore perspiciatis voluptatibus incidunt, fugit in. Quisquam fugit dolorum quibusdam, iste quis.
         </p>

         <modifiers-page></modifiers-page>

         <div class="meal-page__count">
            <ul class="meal-page__list">
                <li class="meal-page__item"
                    ng-class="{active : meal.activeNum(1)}" ng-click="meal.selectNum(1)">1</li>
                <li class="meal-page__item"
                    ng-class="{active : meal.activeNum(2)}" ng-click="meal.selectNum(2)">2</li>
                <li class="meal-page__item"
                    ng-class="{active : meal.activeNum(3)}" ng-click="meal.selectNum(3)">3</li>
                <li class="meal-page__item"
                    ng-class="{active : meal.activeNum(4)}" ng-click="meal.selectNum(4)">4</li>
                <li class="meal-page__item"
                    ng-class="{active : meal.activeNum(5)}" ng-click="meal.selectNum(5)">5</li>
            </ul>
        </div>

        <div class="meal-page__buttons">
            <div class="meal-page__left">
                <a class="meal-page__button" ui-sref="main" ng-show="meal.mealStatus === 'new'">Вернуться</a>
                <a class="meal-page__button" ui-sref="cart" ng-click="meal.removeMeal()" ng-show="meal.mealStatus === 'edit'">Удалить</a>
            </div>
            <div class="meal-page__right">
                <a class="meal-page__button" ui-sref="cart" ng-click="meal.addMeal()" ng-show="meal.mealStatus === 'new'">+Добавить в корзину</a>
                <a class="meal-page__button" ui-sref="cart" ng-click="meal.saveMeal()" ng-show="meal.mealStatus === 'edit'">Сохранить</a>
            </div>
        </div>
    </div>

    </div>

</div>