<div class="main-content__wrap">

	<div class="main-content__header">
		НАШИ ЛУЧШИЕ БЛЮДА
	</div>

	<div class="main-content__line main-content__line--margin"></div>

	<div class="main-content__meals">

		<div class="main-content__meal" ng-repeat="meal in mealsList.products">
				<a class="main-content__link" ui-sref="meal" ng-click="mealsList.openMeal(meal)">
					<div class="main-content__image">
						<img class="main-content__picture" ng-src="{{ meal.image }}" alt="meal">
					</div>
					<p class="main-content__price">
						{{ mealsList.currency + meal.price }}
					</p>
					<div class="main-content__line"></div>
					<p class="main-content__name">
						{{ meal.name }}
					</p>
				</a>
		</div>

	</div>

</div>
