<div class="select-count">
    <ul class="select-count__list">
        <li class="select-count__item"
            ng-class="{active : select.activeNum(1)}" ng-click="select.selectNum(1)">1</li>
        <li class="select-count__item"
            ng-class="{active : select.activeNum(2)}" ng-click="select.selectNum(2)">2</li>
        <li class="select-count__item"
            ng-class="{active : select.activeNum(3)}" ng-click="select.selectNum(3)">3</li>
        <li class="select-count__item"
            ng-class="{active : select.activeNum(4)}" ng-click="select.selectNum(4)">4</li>
        <li class="select-count__item"
            ng-class="{active : select.activeNum(5)}" ng-click="select.selectNum(5)">5</li>
    </ul>
</div>