.footer {
	padding-top: 40px;
	padding-bottom: 40px;

	background-color: #1b171c;

	@import "elements/_description";
	@import "elements/_text";
	@import "elements/_social";
	@import "elements/_link";
	@import "elements/_svg";
}