<div class="meal-page animated fadeIn">

    <div class="meal-page__wrap">

        <cart-icon-page count="{{meal.cartCount}}"></cart-icon-page>

       <div class="meal-page__picture">
          <img class="meal-page__image" ng-src="{{ meal.currentMeal.image }}" alt="meal">
      </div>

       <div class="meal-page__description">
          <p class="meal-page__price">
             {{ meal.currency + meal.currentMeal.price }}
         </p>
         <p class="meal-page__name">
             {{ meal.currentMeal.name }}
         </p>
         <p class="meal-page__comment">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, placeat! At quisquam
             quam pariatur culpa non deserunt id perferendis corporis, laborum ut omnis
             beatae suscipit, dolores cum molestias quaerat labore. Lorem ipsum dolor sit
             amet, consectetur adipisicing elit. Suscipit, placeat! Laboriosam impedit
             tenetur, iusto deserunt sint qui possimus inventore perspiciatis voluptatibus
             incidunt, fugit in. Quisquam fugit dolorum quibusdam, iste quis.
         </p>

         <modifiers-page  currency="{{meal.currency}}"></modifiers-page>

         <select-count select="meal.selectAmount"></select-count>

        <div class="meal-page__buttons">
            <div class="meal-page__left">
                <a class="meal-page__button meal-page__button--block"
                   ui-sref="app.main.meals"
                   ng-show="meal.mealStatus === 'new' && meal.path === 'meals'">Вернуться
                </a>
                <a class="meal-page__button meal-page__button--block"
                   ui-sref="app.main.drinks"
                   ng-show="meal.mealStatus === 'new' && meal.path === 'drinks'">Вернуться
                </a>
                <a class="meal-page__button meal-page__button--block"
                   ui-sref="app.cart" ng-click="meal.removeMeal()"
                   ng-show="meal.mealStatus === 'edit'">Удалить
                </a>
            </div>
            <div class="meal-page__right">
                <a class="meal-page__button meal-page__button--block"
                   ui-sref="app.cart"
                   ng-click="meal.addMeal()"
                   ng-show="meal.mealStatus === 'new'">+Добавить в корзину
                </a>
                <a class="meal-page__button meal-page__button--block"
                   ui-sref="app.cart"
                   ng-click="meal.saveMeal()"
                   ng-show="meal.mealStatus === 'edit'">Сохранить
                </a>
            </div>
        </div>
    </div>

    </div>

</div>