.page {
  margin: 0;
  padding: 0;

  background-color: #fff;

  text-transform: uppercase;
  font-size: 14px;
  font-family: $font-family;
  font-weight: bold;
  line-height: $text-line;
}

@import "components/app/style/app/app";
@import "components/error/style/error-page/error-page";
@import "components/header/style/header/header";
@import "components/logo/style/logo/logo";
@import "components/menu/style/menu/menu";
@import "components/main/style/main/main";
@import "components/mealsList/style/meals-list/meals-list";
@import "components/drinksList/style/drinks-list/drinks-list";
@import "components/drinksList/style/active-button/active-button";
@import "components/meal/style/meal-page/meal-page";
@import "components/cartIcon/style/cart-icon/cart-icon";
@import "components/selectCount/style/select-count/select-count";
@import "components/selectCount/style/active/active";
@import "components/modifiers/style/modifiers/modifiers";
@import "components/cart/style/cart/cart";
@import "components/footer/style/footer/footer";